{% extends 'mainbase.html' %}
 {% block title %}Course{% endblock title %}

 {% block navs %}
 <div style=" background-color: #ccffff;">
 <nav class="nav justify-content-end">
  <a class="nav-link link-success active" href="{% url 'mainhome'%}">Home</a>
  <a class="nav-link link-success" href="{% url 'course'%}">Course</a>
  <a class="nav-link link-success" href="{% url 'gallery'%}">Gallery</a>
  <a class="nav-link link-success" href="{% url 'contact'%}">Contact</a>

</nav>
</div>
{% endblock navs %}

{% block content %}
 <div style=" background-color: #ccffff;">
<h1 class="text-center" style="font-family : courier,monospace " >Courses</h1>
<div class=" d-flex justify-content-center">
  <div>
{% for c in course %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
<div class="card text-light bg-dark mb-3" style="width: 40rem;">
  <div class="card-body ">
    <h5 class="card-title text-muted">{{c.name}}</h5>
    <img class="card-img-top" src="{{c.image.url}}"><br>
    <p class="d-flex"><br>{{c.description}}</p>
    <div class="d-flex"><h6>duration : </h6><p>{{c.duration}}month</p></div>
    <div class="d-flex"><h6>fee : </h6><p>{{c.fee}}/-</p></div>
  </div>
</div>
</div>
</div>

 {% endfor %}
</div>
</div>
{% endblock %}