{% extends 'mainbase.html' %}
 {% block title %}Gallery{% endblock title %}
 {% load static %}

 {% block navs %}

 <nav class="nav justify-content-end">
  <a class="nav-link link-success active" href="{% url 'mainhome'%}">Home</a>
  <a class="nav-link link-success" href="{% url 'course'%}">Course</a>
  <a class="nav-link link-success" href="{% url 'gallery'%}">Gallery</a>
  <a class="nav-link link-success" href="{% url 'contact'%}">Contact</a>

</nav>
{% endblock navs %}
{% block content %}

<div  style="padding-top: 25px;">
<img src="{% static 'image/g.jpg' %}" class="img-thumbnail" alt="..." width="550px" height="700px">
<img src="{% static 'image/s.png' %}" class="img-thumbnail" alt="..." width="800px" height="400px"></div>
<div style="padding-top: 25px;">
<img src="{% static 'image/v.jpg' %}" class="img-thumbnail" alt="..." width="470px" height="400px">
<img src="{% static 'image/k.jpg' %}" class="img-thumbnail" alt="..." width="470px" height="400px">
<img src="{% static 'image/h.jpg' %}" class="img-thumbnail" alt="..." width="470px" height="400px"></div>
<div style="padding-top: 25px;">
  <img src="{% static 'image/j.jpg' %}" class="img-thumbnail" alt="..." width="670px" height="400px">
  <img src="{% static 'image/b.jpg' %}" class="img-thumbnail" alt="..." width="780px" height="400px"></div>
<diV style="padding-top: 25px;"> 
    <img src="{% static 'image/x.jpg' %}" class="img-thumbnail" alt="..." width="475px" height="100px">
    <img src="{% static 'image/n.jpg' %}" class="img-thumbnail" alt="..." width="445px" height="100px">
    <img src="{% static 'image/l.jpg' %}" class="img-thumbnail" alt="..." width="525px" height="100px"></div>
  <div style="padding-top: 25px;">
    <img src="{% static 'image/f.jpg' %}" class="img-thumbnail" alt="..." width="325px" height="400px">
    <img src="{% static 'image/e.jpg' %}" class="img-thumbnail" alt="..." width="580px" height="400px">
    <img src="{% static 'image/d.jpg' %}" class="img-thumbnail" alt="..." width="550px" height="400px"></div>
  <div style="padding-top: 25px;">
    <img src="{% static 'image/ca.jpg' %}" class="img-thumbnail" alt="..." width="520px" height="400px">
    <img src="{% static 'image/c.jpg' %}" class="img-thumbnail" alt="..." width="470px" height="400px">
    <img src="{% static 'image/ad.jpg' %}" class="img-thumbnail" alt="..." width="470px" height="400px">
  </div>
</div>
{% endblock content %}