{% extends 'mainbase.html' %}
{% load static %}
{% block title %}signup{% endblock title %}
{% block content%}
<div style=" background-color: azure;
padding: 50px;
margin-top:  5%;
border: 1px dotted black;
border-radius: 35px;
margin-right:450px;
margin-left:450px; 
display: flex;
justify-content: center;">

<form>
    <div style="padding-left:20px;">
      <button type="button" class="btn btn-info">Sign Up</button>
      <button type="button" class="btn btn-info" onclick="window.location.href='../signin'">Sign In</button>
    </div>
    <div class="nav justify-content-center" style="padding-top: 15px;">
      <h3>SIGN UP</h3>
    </div>  
          <div class="row d-block">
            <div class="col" style="padding-top: 15px;">
                <input type="text" class="form-control" placeholder="name">
              </div> 
            <div class="col" style="padding-top: 15px;">
              <input type="email" class="form-control" placeholder="emailid">
            </div>
            <div class="col" style="padding-top: 15px;">
                <input type="number" class="form-control" placeholder="phone number">
              </div>
            <div class="col" style="padding-top: 15px;">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col" style="padding-top: 15px;">
                <input type="password" class="form-control" placeholder="conform Password">
              </div>
          </div>
        <div style="padding-top:15px; padding-left:55px">
      <button type="button" class="btn btn-info"> signup</button>
        </div>
        
  </form>
  <script src="{% static 'js/signup.js' %}">
  </script>
</div>
{% endblock content%}